{% extends 'SearchHeader.html'%}
{% block body %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/allresults.css') }}">
    </head>

    </form>
       <form>
        <table class = "sturdy">
             <td></td>
            <td>



                    <section style="margin-left: 30px">
                    <table class="sturdy2">
                           <tr>
                               {% for p in picture %}
                                   <td><a href="{{ p }}"><img style="width: 170px; height: 155px" src={{p}}></a></td>
                               {% endfor %}
                           </tr>
                    </table>
                    </section>

                    <section style="text-align: center">
                        {{ error }}
                    </section>
                    <div id="info" class="starwars">
                        <div id="info2">
                            <p></p>
                            <h6 style="text-align: center; font-size: 30px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">STARWARS API</h6>
                            <p></p>
                            Name: {{ person[0]}}
                            <p></p>
                            Gender: {{ person[1]}}
                            <p></p>
                            Date Year: {{ person[2]}}
                            <p></p>
                            Starships: {{ person[3]}}
                            <p></p>
                            Films: {{ person[4]}}
                            <p></p>
                            Race: {{ person[5]}}
                            <p></p>
                            Planet of Origin: {{ person[6]}}
                            <p></p>
                        </div>
                    </div>


                    <section class="wiki">
                        <p></p>
                        <h6 style="text-align: center; font-family: 'Hoefler Text Regular'; font-size: 30px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">WIKIPEDIA API</h6>
                        <p></p>
                        <ul  style="list-style-type:none">
                        {% for word in results %}
                        <li><h6 style="font-family: 'Hoefler Text Regular'; font-size: 25px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"><a href= {{ word[1]}}>{{ word[0] }}</a></h6></li>
                            {{ word[2] }}
                        <p></p>
                        {% endfor %}
                        </ul>
                    </section>


            </td>
            <td></td>
        </table>
    </form>


    <script>
    window.onload= function () {
      varname = "{{ error }}";
      if (varname != ""){
          document.getElementById("info").style.display = "none";
      }
    }

    </script>
{% endblock %}