{% extends 'SearchHeader.html'%}
{% block body %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/allresults.css') }}">
    </head>

    </form>
       <form>
        <table class = "sturdy">
             <td></td>
            <td>



                    <section style="margin-left: 30px">
                    <table class="sturdy2">
                        <h6 style="text-align: center; font-size: 30px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">IMAGE API</h6>
                           <tr>
                               {% for p in picture %}
                                   <td><a href="{{ p }}"><img style="width: 170px; height: 155px" src={{p}}></a></td>
                               {% endfor %}
                           </tr>
                    </table>
                    </section>

               {% if logState %}
                    <section style="margin-left: 30px">
                        <h6 style="text-align: center; font-size: 30px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">YOUTUBE API</h6>
                        <table class="sturdy2">
                            {{ uerror }}
                            {% for video in videos %}
                                <tr>
                                    {% for v in video %}
                                        <td>
                                        <iframe width = "200" height="150" src="{{ v[1][0] }}"></iframe>
                                        <h5 style="width: 200px; height: 100px; padding: 0px 0px 0px 0px;
                                                margin: 0px 0px 0px 0px; overflow-wrap: break-word; text-align: left; font-family: 'Varela Round';">{{ v[0][0]}}</h5>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </section>

               {% else %}
            {% endif %}

                    <section class="starwars" style="text-align: center">
                        {{ error }}
                    </section>

                    <div id="info" class="starwars">
                        <div id="info2">
                            <p></p>
                            <h6 style="text-align: center; font-size: 30px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">STARWARS API</h6>
                            <p></p>
                            Name: {{ person[0]}}
                            <p></p>
                            Gender: {{ person[1]}}
                            <p></p>
                            Date Year: {{ person[2]}}
                            <p></p>
                            Starships: {{ person[3]}}
                            <p></p>
                            Films: {{ person[4]}}
                            <p></p>
                            Race: {{ person[5]}}
                            <p></p>
                            Planet of Origin: {{ person[6]}}
                            <p></p>
                        </div>
                    </div>


                    <section class="wiki">
                        <p></p>
                        <h6 style="text-align: center; font-family: 'Hoefler Text Regular'; font-size: 30px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">WIKIPEDIA API</h6>
                        <div style="text-align: center">{{ wikierror }}</div>
                        <p></p>
                        <ul  style="list-style-type:none">
                        {% for word in results %}
                        <li><h6 style="font-family: 'Hoefler Text Regular'; font-size: 25px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"><a href= {{ word[1]}}>{{ word[0] }}</a></h6></li>
                            {{ word[2] }}
                        <p></p>
                        {% endfor %}
                        </ul>
                    </section>


            </td>
            <td></td>
        </table>
    </form>


    <script>
    window.onload= function () {
      varname = "{{ error }}";
      if (varname != ""){
          document.getElementById("info").style.display = "none";
      }
    }

    </script>


    {% if logState %}
        <head>
            <meta charset="UTF-8">
            <title>Twitter</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/twitter.css') }}">
            <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
        </head>
        <body>

                <span class="first">
                    Twitter API
                </span>
                <ul class="timeline" style="list-style: none">
                    {% for tweet in tweetlist %}
                    <li>
                        <div class="avatar">
                            <div class="hover">
                                <div class="icon-twitter"></div>
                            </div>
                        </div>
                        <div class="bubble-container">
                            <div class="bubble">
                            <div class="retweet">
                                <div class="icon-retweet"></div>
                            </div>
                                <h3>{{ tweet[0] }}</h3>  <h3>@{{ tweet[1] }}</h3><br/>
                                {{ terror}}
                                {{ tweet[3] }}
                                <div class="over-bubble">
                                </div>
                            </div>

                            <div class="arrow"></div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

        </body>
    {% else %}
    {% endif %}



{% endblock %}