<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/homestyle.css') }}">
    </head>
    {% if logState %}
    <!-- if true then-->
    <button><a href="{{ url_for("logout") }}" class="login"
               style="font-size:14pt;
               padding: 90px 20px;
               border-radius: 10px;
               text-decoration: none">Logout</a></button>
    {% else %}
    <button><a href="/login" class="login"
               style="font-size:14pt;
               padding: 90px 20px;
               border-radius: 10px;
               text-decoration: none">Login</a></button>

     <button><a href="/signup" class="signup"
               style="font-size:14pt;
               padding: 90px 20px;
               border-radius: 10px;
               text-decoration: none">Sign Up</a></button>
    {% endif %}

    <body>
        <form action = "{{url_for('searchresults')}}" method = "POST">

        <div class="searchwrap">
           <div class="search">
               <p><input type="text" class="searchTerm" placeholder=" Search..." name = "search" pattern="[A-Za-z]+" title="One word only letters no spaces" style="font-size:20pt" required></p>

              <button type="submit" class="searchButton" value="Search">Search</button>
           <br>
               {% if logState %}
                   <input type="radio" name="options" value="wiki"/>Wikipedia
                   <input type="radio" name="options" value="sw" />Starwars
                   <input type="radio" name="options" value="pic"/>Pictures
                   <input type="radio" name="options" value="twit"/>Twitter
                   <input type="radio" name="options" value="all" checked/>All
               {% else %}
                   <input type="radio" name="options" value="wiki"/>Wikipedia
                   <input type="radio" name="options" value="sw" />Starwars
                   <input type="radio" name="options" value="pic"/>Pictures
                   <input type="radio" name="options" value="all" checked/>All
               {% endif %}
          </div>

        </div>
        </form>
    </body>
</html>