{% extends 'SearchHeader.html'%}
{% block body %}
    <h1>Login Page</h1>
    <p id="loginError">{{ errormsg }}</p>
    <form id="loginForm" name="loginForm" method="post" action="{{ url_for('loginRoute') }}">
        <label for="loginUser">Username: </label>
        <input type="text" id="loginUser" name="loginUser"/>
        <br>
        <label for="loginPW">Password: </label>
        <input type="password" id="loginPW" name="loginPW"/>
        <br>
        <input type="submit" id="loginSubmit" name="loginSubmit" value="Log Me In!" formmethod="post">
    </form>
    <p>    Sign up today to use our NEW Twitter AND YouTube Search!<a href="/signup">Click here.</a></p>
{% endblock %}