{% extends 'SearchHeader.html'%}
{% block body %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/resultsstyle.css') }}">
    </head>

    </form>
       <form>
        <table class = "sturdy">
            <td></td>
            <td>
            {{ error }}

                    <table class = "sturdy2">
                    {% for i in length%}
                    <tr>
                        {% for picture in pictures%}
                            <td>
                                <p style="font-size: 5px">{{ picture[i]}}</p>
                            </td>
                        {% endfor %}


                    </tr>
                    {% endfor %}
                    </table>


                </td>
            <td></td>
        </table>
    </form>
{% endblock %}