{% extends 'SearchHeader.html'%}
{% block body %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/resultsstyle.css') }}">
    </head>

    <form>
        <table class = "sturdy">
            <td></td>
                <td>

                    <h6 style="text-align: center; font-size: 30px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">IMAGE API</h6>
                    <table class="sturdy2">
                        {% for picture in pictures %}
                           <tr>
                               {% for p in picture %}
                                   <td><a href="{{ p }}"><img style="width: 155px; height: 155px" src={{p}}></a></td>
                               {% endfor %}
                           </tr>
                        {% endfor %}
                    </table>


                </td>
            <td></td>
        </table>
    </form>
{% endblock %}