<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/SearchHeader.css') }}">
    </head>
    <form action = "{{url_for('searchresults')}}" method = "POST">
        <div class="topnav" id="myTopnav">
           <a href="/login" class="login">Login</a>
              <div class="search_container">
                  <h3><input type="text" class="search" name="search" required><button type="submit" class="searchButton" value="Search">Search</button>
              </h3>
                  <p> <input type="radio" name="wiki" value="wiki" class = "checkbox">Wikipedia
                 <input type="radio" name="sw" value="sw" class = "checkbox" >Starwars
                 <input type="radio" name="pic" value="pic" class = "checkbox" >Pictures</p>
                  <input type="radio" name="all" value="all" class = "checkbox" >All</p>
              </div>
        </div>
    </form>
    <aside></aside>
    {%  block body %}{% endblock %}
    <aside></aside>
</html>