<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/SearchHeader.css') }}">
    </head>

        <div class="topnav" id="myTopnav">
    <form action = "{{url_for('searchresults')}}" method = "POST">

            {% if logState %}
                <!-- if true then-->
                <a href="/logout" class="Logout">Logout</a>
                {% else %}
                <a href="/login" class="login">Login</a>
            {% endif %}

              <div class="search_container">

                  <div style="margin-left: 25px"><h3><input type="text" class="search" name="search" value="{{ searched_word }}" required><button type="submit" class="searchButton" value="Search">Search</button></h3>
                  </div>
                   <div style="color: white; margin-right: 30px">
                   {% if logState %}
                       <input type="radio" name="options" value="wiki"/>Wikipedia
                       <input type="radio" name="options" value="sw" />Starwars
                       <input type="radio" name="options" value="pic"/>Pictures
                       <input type="radio" name="options" value="twit"/>Twitter
                       <input type="radio" name="options" value="all" checked/>All
                   {% else %}
                       <input type="radio" name="options" value="wiki"/>Wikipedia
                       <input type="radio" name="options" value="sw" />Starwars
                       <input type="radio" name="options" value="pic"/>Pictures
                       <input type="radio" name="options" value="all" checked/>All
                   {% endif %}
                   </div>

              </div>
        </form>
        </div>
    <script>
        document.getElementById('{{ checked }}').checked = true;
    </script>
    <aside></aside>
    {%  block body %}{% endblock %}
    <aside></aside>
