{% extends 'SearchHeader.html'%}
{% block body %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/starwars.css') }}">
    </head>


    <form>
        <table class = "sturdy">
            <td></td>
            <td>

                <section style="text-align: center">
                    {{ error }}
                </section>

                <div id="ng-ng">
                    <p></p>
                    <h6 style="text-align: center; font-size: 30px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">STARWARS API</h6>
                    <p></p>
                    Name: {{ person[0]}}
                    <p></p>

                    Gender: {{ person[1]}}
                    <p></p>

                    Date Year: {{ person[2]}}
                    <p id = "ng-ngh"></p>

                    Starships: {{ person[3]}}
                    <p></p>

                    Films: {{ person[4]}}
                    <p></p>

                    Race: {{ person[5]}}
                    <p></p>

                    Planet of Origin: {{ person[6]}}
                </div>

            </td>
            <td></td>
        </table>
    </form>

    <script>
    window.onload= function () {
        document.getElementById("ng-ngh").style.display = "none";
    }
    </script>

{% endblock %}