<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/SearchHeader.css') }}">
    </head>
    <form action = "{{url_for('searchresults')}}" method = "POST">
        <div class="topnav" id="myTopnav">

            {% if logState %}
                <!-- if true then-->
                <a href="/logout" class="Logout">Logout</a>
                {% else %}
                <a href="/login" class="login">Login</a>
            {% endif %}

              <div class="search_container">

                  <div style="margin-left: 25px"><h3><input type="text" class="search" name="search" value="{{ searched_word }}" required><button type="submit" class="searchButton" value="Search">Search</button></h3>
                  </div>
                   <div style="color: white; margin-right: 30px">
                       <input type="radio" name="options" value="wiki" id = "wiki"/>Wikipedia
                       <input type="radio" name="options" value="sw" id = "sw"/>Starwars
                       <input type="radio" name="options" value="pic" id = "pic"/>Pictures
                       <input type="radio" name="options" value="all" id = "all"/>All
                   </div>

              </div>
        </div>
    </form>
    <aside></aside>
    {%  block body %}{% endblock %}
    <aside></aside>

    <script>
    window.onload = function (){
            document.getElementById("{{ checked }}").checked = true;
        }
    </script>
</html>