.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  outline: none;
}

.searchTerm:focus{
}

.searchButton {
  position: absolute;
  display: inline-block;
  right: -110px;
  width: 100px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  border-radius: 25px;


}

/*Resize the wrap to see the search bar change!*/
.searchwrap{
  width: 25%;
  position: relative;
  left: 35%;
  padding-top: 100px;
  transform: translate(-50%, 50);
  }

label {
  padding-left: 5px;
  display: inline-block;
  line-height: 1.6;
  position: relative;
}

input[type="checkbox"] + label:before {
  position: relative;
}

input[type="checkbox"]:checked + label:after {
  position: relative;
}

.login{
   cursor: pointer;
}
