{% extends 'SearchHeader.html'%}
{% block body %}
<head>
	<meta charset="UTF-8">
	<title>Twitter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/twitter.css') }}">
   	<link href='https://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
</head>
<body>

		<span class="first">
			Twitter API
		</span>
		<ul class="timeline" style="list-style: none">
            {% for tweet in tweetlist %}
			<li>
				<div class="avatar">
					<div class="hover">
						<div class="icon-twitter"></div>
					</div>
				</div>
				<div class="bubble-container">
					<div class="bubble">
					<div class="retweet">
						<div class="icon-retweet"></div>
					</div>
						<h3>{{ tweet[0] }}</h3>  <h3>@{{ tweet[1] }}</h3><br/>
                        {{ tweet[3] }}
						<div class="over-bubble">
						</div>
					</div>

					<div class="arrow"></div>
				</div>
			</li>
            {% endfor %}
		</ul>
</body>
{% endblock %}