{% extends 'SearchHeader.html'%}
{% block body %}
<head>
	<meta charset="UTF-8">
	<title>Twitter Client</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
   	<link href='https://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
</head>
<body>

		<span class="first">
			Twitter API
		</span>
		<ul class="timeline" style="list-style: none">
			<li>
				<div class="avatar">
					<div class="hover">
						<div class="icon-twitter"></div>
					</div>
				</div>
				<div class="bubble-container">
					<div class="bubble">
					<div class="retweet">
						<div class="icon-retweet"></div>
					</div>
						<h3></h3><h3></h3><br/>
                        Sorry there are no tweets. Try searching again
					</div>

					<div class="arrow"></div>
				</div>
			</li>
		</ul>

</body>
{% endblock %}