{% extends 'layout.html' %}

{% block body %}
    <a href="/login">Login here</a>
    <form id="searchForm" name="searchForm">
        Search:
        <input type="text" name="search"/>
        <input type="button" value="Search"/>
        <br>
        <label for="cbox1">Wikipedia:</label>
        <input type="checkbox" id="cbox1"/>

        <label for="cbox2">Star Wars:</label>
        <input type="checkbox" id="cbox2"/>

        <label for="cbox3">90s Nostalgia:</label>
        <input type="checkbox" id="cbox3"/>
    </form>

    <div id="picsResults">
        <p>Picture results go here...</p>
    </div>
        <hr>
    <div id="searchResults">
        <p>Other stuff goes here...</p>
    </div>

    <script>
        var searchDiv = document.getElementById("searchResults");
        searchDiv.style.visibility = 'hidden';
    </script>

{% endblock %}