{% extends 'layout.html' %}

{% block body %}
    <p><a href="/login">Login here</a></p>
    <form id="searchForm" name="searchForm" method="post" action="{{ url_for('index') }}">
        Search:
        <input type="text" name="search"/>
        <input type="submit" value="Search"/>
        <br>
        <label for="cbox1">Wikipedia:</label>
        <input type="checkbox" id="cbox1" name="cboxW"/>

        <label for="cbox2">Star Wars:</label>
        <input type="checkbox" id="cbox2" name="cboxS"/>

        <label for="cbox3">Images:</label>
        <input type="checkbox" id="cbox3" name="cboxI"/>

        <label for="cbox4">All:</label>
        <input type="checkbox" id="cbox4" name="cboxA"/>
    </form>

    <div id="picsResults">
        <p>Picture results go here...</p>
        {{ pictures }}
    </div>
        <hr>
    <div id="searchResults">
        <p>Other stuff goes here...</p>
        {{ wiki }}
        {{ starwars }}
    </div>

    <script>
{#        var searchDiv = document.getElementById("searchResults");#}
{#        searchDiv.style.visibility = 'hidden';#}
    </script>

{% endblock %}