{% extends 'SearchHeader.html'%}
{% block body %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/resultsstyle.css') }}">
    </head>

    <form>
        <table class = "sturdy">
            <td></td>
                <td>
                <div class="header">

                <img src="https://www.youtube.com/yt/about/media/images/brand-resources/icons/YouTube_icon_full-color.svg" alt = "logo">
                <h6>YOUTUBE API</h6>
                    </div>
                    <table class="sturdy2">
                        {{ uerror }}
                        {% for video in videos %}
                            <tr>
                                {% for v in video %}
                                    <td>
                                    <iframe width = "200" height="150" src="{{ v[1][0] }}"></iframe>
                                    <h5 style="width: 200px; height: 100px; padding: 0px 0px 0px 0px;
                                            margin: 0px 0px 0px 0px; overflow-wrap: break-word; text-align: left; font-family: 'Varela Round';">{{ v[0][0]}}</h5>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>

                </td>
            <td></td>
        </table>
    </form>
{% endblock %}